.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.nav-link{
  color: #ff914f !important;
}
/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.mobnav{
  background-color: #fff;
    border-radius: 50px;
    height: 70px;
    margin: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.navbar .form-control {
  padding: .75rem 1rem;
}


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  .nav_mob {
    display: none;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .nav_lap {
    display: none;
  }
}