<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Viewport -->

<!-- Title -->
<title>Cadibal</title>

<!-- Meta Description -->
<meta name="description" content="Cadibal is a platform dedicated to providing free education, job searching resources, and a social community for developers and students to connect and grow.">

<!-- Meta Keywords -->
<meta name="keywords" content="Cadibal, free education, job searching, social community, developers, students, online learning, career growth">

<!-- Verification Tags (for Google Search Console, Bing Webmaster Tools, etc.) -->
<meta name="google-site-verification" content="verification-token">
<meta name="bing-site-verification" content="verification-token">
<!-- Author -->
<meta name="author" content="Cadibal Team">

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Cadibal",
      "url": "https://cadibal.com",
      "logo": "https://cadibal.com/static/img/logo/favicon.png",
      "description": "Cadibal is a platform dedicated to providing free education, job searching resources, and a social community for developers and students to connect and grow.",
      "sameAs": [
        "https://www.instagram.com/cadibal.info/",
        "https://x.com/cadibal_info",
        "https://www.linkedin.com/company/cadibaltech/"
      ]
    }
    </script>
<!-- Robots -->
<meta name="robots" content="index, follow">

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="Cadibal - Free Education and Social Community">
<meta property="og:description" content="Join Cadibal, the platform for free education, job searching, and creating a social community to help developers and students.">
<meta property="og:url" content="https://cadibal.com">
<meta property="og:type" content="website">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Cadibal - Empowering Developers and Students">
<meta name="twitter:description" content="Discover Cadibal, a platform offering free education, job searching resources, and a social community for developers and students.">
<meta name="twitter:image" content="https://cadibal.com/assets/images/cadibal-social-banner.jpg">
<meta name="twitter:url" content="https://cadibal.com">


<!-- Canonical URL -->
<link rel="canonical" href="https://cadibal.com">
    <link rel="icon" type="image/x-icon" href="../static/img/logo/favicon.png">
    <title>Cadibal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/nav.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/css/cc.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <script src="../static/js/dashboard.js"></script>
</head>
<body style="background-color: #f7faff;">

    <!-- Navbar -->
    {% include 'navbar.html' %}

    <div class="search-container">
        <input id="search" type="text" class="form-control search-input" placeholder="Search here...">
        <button class="search-btn"><i class="fas fa-search"></i></button>
    </div>
    <main>
      <div class="container mt-4">
          <div class="row">
              {% for video in videos %}
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                  <a href="{{ url_for('play_video', video_id=video['_id']) }}" class="card-link">
                      <div class="card custom-card">
                          <img src="../{{ video['thumbnail'] }}" alt="Video Thumbnail" class="card-img-top" style="height: 160px; object-fit: cover;">
                          <div class="card-body">
                              <div class="d-flex align-items-center mb-2">
                                  <!-- Wrap profile photo with a tag to make it clickable -->
                                  <a href="{{ url_for('view_profile',_id=video['user_id']) }}"> <!-- Change from video['_id'] to video['publisher_id'] -->
                                      <img src="{{ video['publisher_photo'] }}" alt="Publisher Photo" class="rounded-circle publisher-photo" style="width: 40px; height: 40px;">
                                  </a>
                                  <span class="ms-2 fw-bold channel-name">{{ video['publisher_name'] }}</span>
                              </div>
                              <p class="card-text video-description">{{ video['description'] }}</p>
                              <div class="d-flex justify-content-between small video-meta">
                                  <span class="video-duration">{{ video['like_count'] }} like</span>
                                  <span class="view-count">{{ video['view_count'] }} views</span>
                                  <span class="publish-date">{{ video['uploaded_at'] }}</span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              {% endfor %}
          </div>
      </div>
  </main>
  {% include 'warning.html' %}

  <script src="https://cdn.jsdelivr.net/npm/dompurify@2.0.17/dist/purify.min.js"></script>
<script>
        document.querySelector('form').addEventListener('submit', function(e) {
            const firstNameInput = document.getElementById('search');
            firstNameInput.value = DOMPurify.sanitize(firstNameInput.value);
        });
</script>
  
      
      
      <script>
        // Function to filter videos based on the search input
        document.querySelector('.search-input').addEventListener('input', function() {
            const query = this.value.toLowerCase(); // Convert search input to lowercase
            const videoCards = document.querySelectorAll('.card'); // Get all video cards
            
            videoCards.forEach(card => {
                const videoDescription = card.querySelector('.video-description').textContent.toLowerCase();
                const videoTitle = card.querySelector('.card-title') ? card.querySelector('.card-title').textContent.toLowerCase() : "";
                
                // Check if the video description or title contains the search query
                if (videoDescription.includes(query) || videoTitle.includes(query)) {
                    card.style.display = 'block'; // Show card if it matches
                } else {
                    card.style.display = 'none'; // Hide card if it doesn't match
                }
            });
        });
    </script>
    
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
