<!-- Bootstrap Crazy Message Modal -->
<div class="modal fade" id="crazyMessageModal" tabindex="-1" aria-labelledby="crazyMessageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title" id="crazyMessageLabel">Hey there! 🚀</h5>
      </div>
      <div class="modal-body" id="crazyMessageBody">
        <!-- Crazy message will go here -->
      </div>
    </div>
  </div>
</div>
<script src="../static/js/message.js"></script>